html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

.controls {
    padding: 5px 5px;
    background: #444;
    opacity: 0;
}

.scrubber-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.gizmo-controls {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    border-bottom-left-radius: 8px;
}

.dg ~ .gizmo-controls {
    right: 280px;
}

.controls > * + * {
    margin-left: 5px;
}

.controls button {
    background-color: #111;
    border: none;
    color: #ccc;
    padding: 4px 8px;
    border-radius: 3px;
}

.controls button:hover {
    background-color: #000;
}

.controls button:active {
    background-color: #222;
}

.controls button:disabled {
    color: #555;
    background-color: #111;

}



.scrubber-controls > * + * {
    margin-left: 10px;
}

.scrubber-controls input {
    margin: 0;
    margin-left: 10px;
}

/* canvas {
    image-rendering: pixelated;
} */

.playpause {
    width: 5em;
}

body:hover .controls,
body:hover .dg {
    opacity: .9;
}

.stats {
    opacity: 0 !important;
}

body:hover .stats {
    opacity: .9 !important;
}

.scrubber {
    display: block;
    width: 100%;
    margin: 0;
}

.dg {
    opacity: 0;
    z-index: 1 !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/66/Northern_line_train_front.PNG');
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: .0;
}

.gizmo-save-button {
    position: absolute;
    left: 10px;
    top: 50%;
}
