html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

canvas {
    flex-grow: 1;
}

.controls {
	padding: 5px 10px;
    /*display: none;*/
}

.scrubber {
	width: 100%;
	margin: 0;
}

.dg {
    /*display: none;*/
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/66/Northern_line_train_front.PNG');
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: .0;
}