html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

.controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    display: flex;
    background: black;
    opacity: 0;
}

/* canvas {
    image-rendering: pixelated;
} */

.playpause {
    margin-right: 10px;
    width: 5em;
}

body:hover .controls {
    opacity: .7;
}

.stats {
    opacity: 0 !important;
}

body:hover .stats {
    opacity: .9 !important;
}

.scrubber {
    display: block;
    width: 100%;
    margin: 0;
}

.dg {
    /*display: none;*/
}

.dg {
    z-index: 1 !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/66/Northern_line_train_front.PNG');
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: .0;
}

.gizmo-save-button {
    position: absolute;
    left: 10px;
    top: 50%;
}
